.car-extra-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
  
  .car-extra-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .car-extra-card h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .car-extra-card p {
    color: #555;
  }
  
  .car-extra-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .car-extra-card button:hover {
    background-color: #45a049;
  }
  /* Style for Delete Car Extra button */
.delete-car-extra-btn {
  background-color: #f44336; /* Red background for delete button */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.delete-car-extra-btn:hover {
  background-color: #d32f2f; /* Darker red when hovered */
}
  