/* App.css */

/* General styling for the app */
.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./images/background.jpg'); /* Path to your logo image */
  background-size: cover; /* Cover the whole page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  height: 100%; /* Ensure it takes full height */
  display: flex;
  flex-direction: column; /* This ensures body takes full height with flexbox */
}

/* Ensures root div takes full height and pushes footer down */
#root {
  flex: 1; /* Ensures content area expands to take available space */
  display: flex;
  flex-direction: column; /* Ensures vertical stacking of header, main content, and footer */
}

main {
  padding: 2rem;
  text-align: center;
  flex: 1; /* Ensure main content area grows and pushes footer down */
  padding-top: 10rem; /* Adjust this value based on header height */
  margin-top: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height for the page */
  display: flex;
  flex-direction: column; /* Flex direction column keeps header, content, footer stack order */
}


